@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Courier New', Courier, monospace;
}

button {
    transition-duration: 0.4s;
}
button:hover {
    transform: scale(1.3);
}
.title-drag {
    -webkit-app-region: drag;
    cursor: grab;
}